{%- if items.size > 0 -%}
{%- if horizontal -%}
<div class="slider-container">
  <ul class="items slider">
{%- elsif masonry -%}
<ul class="items masonry">
{%- else -%}
<ul class="items">
{%- endif -%}
{%- for item in items -%}
  {%- include "list-item.html", image_aspect_ratio: image_aspect_ratio -%}
{%- endfor -%}
</ul>
{%- if horizontal -%}
  {% include "slider-nav.html" %}
</div>
{%- endif -%}
{%- if masonry -%}
<script type="module" src="{{ '/assets/js/masonry.js' | cacheBust }}"></script>
{%- endif -%}
{%- endif -%}
