<li{% if item.data.featured %} class="featured"{% endif %}>
  {%- for field in listItemFields -%}
    {%- case field -%}
      {%- when "thumbnail" -%}
        {%- include "list-item-thumbnail.html", image_aspect_ratio: image_aspect_ratio -%}
      {%- when "link" -%}
        {%- include "list-item-link.html" -%}
      {%- when "date" -%}
        {%- include "list-item-date.html" -%}
      {%- when "subtitle" -%}
        {%- include "list-item-subtitle.html" -%}
    {%- endcase -%}
  {%- endfor -%}
</li>
